services:
  postgres:
    image: postgres:16
    container_name: securevault-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U securevault" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    # Used for three things:
    # 1. Rate Limiting - tracking how many requests each user/IP has made
    # 2. Token Blacklist - storing invalidated refresh tokens after logout
    # 3. Caching (optional) - storing frequently accessed data for speed
    image: redis:7-alpine
    container_name: securevault-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data:
